hoodieBlue = #2C2A86
hoodieGreen = #078D2D
hoodieYellow = #FCB20D
hoodieOrange = #EC5100
hoodieBrown = #6A3C06
hoodieRed = #C01C1B

colorSuccess = hoodieGreen
colorWarning = hoodieYellow
colorError = hoodieRed
