body
    > nav
        position absolute
        bottom 0
        left 0
        right 0
        height 40px

    > main
        position absolute
        bottom 40px
        top 6px
        left 0
        right 0

        background #fff

body.fullscreen
    > nav
        display none

    > main
        top 0
        bottom 0
