* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
*:before,
*:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
body {
  padding: 6px 0 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Helvetica, Arial;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: -webkit-linear-gradient(0deg, #2c2a86 20.5%, #078d2d 20.5%, #078d2d 37.5%, #fcb20d 37.5%, #fcb20d 55.5%, #ec5100 55.5%, #ec5100 72.5%, #6a3c06 72.5%, #6a3c06 79.5%, #c01c1b 79.5%);
  background-image: linear-gradient(90deg, #2c2a86 20.5%, #078d2d 20.5%, #078d2d 37.5%, #fcb20d 37.5%, #fcb20d 55.5%, #ec5100 55.5%, #ec5100 72.5%, #6a3c06 72.5%, #6a3c06 79.5%, #c01c1b 79.5%);
  background-size: 300px 6px;
  background-repeat: repeat-x;
  background-position: 0 0;
}
pre,
code,
.text-monospace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
pre {
  margin: 0;
}
.hide {
  display: none;
}
body > nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
}
body > main {
  position: absolute;
  bottom: 40px;
  top: 6px;
  left: 0;
  right: 0;
  background: #fff;
}
body.fullscreen > nav {
  display: none;
}
body.fullscreen > main {
  top: 0;
  bottom: 0;
}
.console-log article {
  padding: 10px 10px 10px 30px;
  margin: 2px 0;
  border-left: 0 solid transparent;
}
.console-log article[data-state="done"],
.console-log article[data-state="resolved"],
.console-log article[data-state="pending"],
.console-log article[data-state="rejected"] {
  border-left: 6px solid transparent;
  padding-left: 24px;
}
.console-log article[data-state="done"] {
  border-left-color: #ddd;
}
.console-log article[data-state="resolved"] {
  border-left-color: #078d2d;
}
.console-log article[data-state="pending"] {
  border-left-color: #c01c1b;
}
.console-log article[data-state="rejected"] {
  border-left-color: #c01c1b;
}
.console-log article .result {
  color: #ccc;
}
.prompt-has-focus .console-log {
  display: none;
}
body > nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body > nav li {
  width: 20%;
  height: 40px;
  line-height: 20px;
  float: left;
  padding: 10px;
  border-top: 1px solid #ddd;
  cursor: pointer;
  text-align: center;
}
body > nav li.active {
  background: #eee;
}
body > nav li + li {
  border-left: 1px solid #ddd;
}
.prompt-actions {
  display: none;
  position: absolute;
  height: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.prompt-actions button {
  border: 0;
  margin: 10px 0 10px 10px;
  padding: 0 10px;
  background: #000;
  color: #fff;
  line-height: 40px;
}
.prompt-has-focus .prompt-actions {
  display: block;
}
.prompt-doc {
  display: none;
  padding: 10px;
  background: #eee;
}
.prompt-has-focus .prompt-doc {
  display: block;
}
.prompt-suggestions {
  display: none;
  padding: 10px;
}
.prompt-suggestions > ul > li {
  margin-right: 10px;
  padding-bottom: 10px;
  max-width: 100%;
  overflow: auto;
}
.prompt-suggestions ul {
  padding: 0;
  margin: 0;
}
.prompt-suggestions li {
  display: inline-block;
  white-space: nowrap;
}
.prompt-suggestions li .name {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #fff;
  background: #000;
  color: #fff;
  cursor: pointer;
  line-height: 40px;
}
.prompt-suggestions li ul {
  display: inline-block;
}
.prompt-suggestions li li .name {
  background: #666;
}
.prompt-suggestions li li li .name {
  background: #999;
}
.prompt-has-focus .prompt-suggestions {
  display: block;
}
.prompt .command {
  position: relative;
  border-bottom: 1px solid #ddd;
  outline: none;
}
.prompt .command pre {
  padding: 10px 10px 10px 30px;
  font-weight: bold;
}
.prompt .command pre .cursor {
  display: inline-block;
  width: 2px;
  height: 20px;
  margin: -3px 0;
  -webkit-animation: 1s blink step-end infinite;
          animation: 1s blink step-end infinite;
}
.prompt:before {
  content: '>';
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
}
.prompt-has-focus .prompt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.prompt-has-focus .prompt .command {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px;
  overflow: auto;
}
@-webkit-keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #000;
  }
}
@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #000;
  }
}
