body > nav
    height 40px

    ul
        margin 0
        padding 0
        list-style none
    li
        width 20%
        height 40px
        line-height 20px
        float left
        padding 10px
        border-bottom 1px solid #ddd

        cursor pointer
        text-align center

        &.active
            background #eee

        + li
            border-left 1px solid #ddd
